#navbar {
    background-color: lightcyan;
    display: inline-block;
    width: 98vw;
    border: 3px solid cyan;
    border-radius: 5px;
    margin: 6px;
}

#times {
    display: block;
    float: right;
    color: darkcyan;
}

#score{
    display: block;
    float: left;
    color: darkcyan;
    text-decoration: none;
}