#navbar {
    background-color: lightcyan;
    display: inline-block;
    width: 98vw;
    border: 3px solid cyan;
    border-radius: 5px;
    margin: 6px;
}

#times {
    display: block;
    float: right;
    color: darkcyan;
}

#score{
    display: block;
    float: left;
    color: darkcyan;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color :cyan;
}

#quizQuestions {
    text-align: center;
    padding: 12vh;
}

h2 {
    padding: 10px 8px 10px 8px;
}

a {
    text-decoration: none;
    color: darkcyan;
    float: right;
}